.container {
    padding: 20px;
    display: grid;
}

.row {
    justify-content: center;
    display: flex;
    justify-content: space-around;
    padding: 10px;

}

.card {
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.selected {
    border-color: #007bff;
}